<template>
    <table class="mail-table">
     <tbody>
       <tr v-for="email in Un_Emails"
           :key="email.id"
           :class="['clickable', email.read ? 'read' : '']"
           @click="readmail(email)"> 
           <td>
             <input type="checkbox"/>
           </td>
          <td>{{email.form}}</td>
          <td>
            <p> <strong> {{email.subject}} </strong> - {{email.body}} </p>
          </td>
          <td class="date"> {{format(new Date(email.sentAt),'MMM do yyyy')}} </td>
          <td><button @click="changearchived(email)"> Archived</button></td>
       </tr>
     </tbody>
  </table>
  <ModalView v-if="openedEmail" @closeModal="openedEmail = null">
      <MailView :email="openedEmail"/>
  </ModalView>
</template>

<script>
    import { format } from 'date-fns';
    import axios from 'axios';
    import MailView from '@/components/MailView.vue'
    import ModalView from '@/components/ModalView.vue'

    export default {
      async setup(){
          //await new Promise(resolve => setTimeout(resolve, 3000))
          let {data : emails } = await axios.get('http://localhost:3000/emails')

          return {
            format,
            emails,
            openedEmail : null
          }
      },
      components: {
        MailView,
        ModalView
      },
      computed : {
        sortedEmails() {
          return this.emails.sort((e1, e2) => {
          return e1.sentAt < e2.sentAt ? 1 : -1
        })
        },
        Un_Emails() {
          return this.sortedEmails.filter(e => !e.archived)
        }
      },
      methods: {
        readmail(email) {
          email.read = true;
          this.updateProduct(email)
          this.openedEmail = email
        },
        changearchived(email) {
          email.archived = true;
          this.updateProduct(email)
        },
        updateProduct(email) {
           axios.put(`http://localhost:3000/emails/${email.id}`, email)
        }
      },
    }
</script>

<style scoped>

</style>